<nav>
    <ul>
        <li><h2>ULSU.Union</h2></li>
    </ul>
    <ul>
        <li><a href="/">Домой</a></li>
        <li><a href="/account">Аккаунт</a></li>
        <li><a href="/about">О проекте</a></li>
        {% if not logged %}
        (
            <ul id="nav_loggin">
                <li><a data-target="registration-modal" onclick="toggleModal(event)">Регистрация</a></li>
                <li><a data-target="login-modal" onclick="toggleModal(event)">Вход</a></li>
            </ul>
        )
        {% endif %}
    </ul>
</nav>