<nav>
    <ul>
        <li>
            <h2>ULSU.Union</h2>
        </li>
    </ul>
    <ul id="default-nav">
        <li><a href="/">Домой</a></li>
        <li><a href="/account">Аккаунт</a></li>
        <li><a href="/about">О проекте</a></li>
        <div class="check-auth-false">
            (
            <ul id="nav-loggin">
                <li><a data-target="registration-modal" onclick="toggleModal(event)">Регистрация</a></li>
                <li><a data-target="login-modal" onclick="toggleModal(event)">Вход</a></li>
            </ul>
            )
        </div>
        <li class="check-auth-true"><a onclick="logout()">Выйти</a></li>
    </ul>
    <ul id="mobile-nav">
        <img id="sidenav-btn" src="{{ url_for('static', path='images/menu-icon.svg') }}">
    </ul>
</nav>