<div class="sidenav">
    <ul>
        <li>
            <h2>ULSU.Union</h2>
        </li>
    </ul>
    <ul>
        <li><a href="/">Домой</a></li>
        <li><a href="/account">Аккаунт</a></li>
        <li><a href="/about">О проекте</a></li>
        <li class="check-auth-false"><a data-target="registration-modal" onclick="toggleModal(event)">Регистрация</a>
            (<a data-target="login-modal" onclick="toggleModal(event)">Вход</a>)</li>
        <li class="check-auth-true"><a onclick="logout()">Выйти</a></li>
</div>

<div class="shadower"></div>