{% extends 'base.html' %}

{% block title %}
О проекте
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
{% include 'includes/navbar.html' %}
{% endblock %}

{% block page_content %}
{% include 'includes/sidenav.html' %}

{% include 'login.html' %}
{% include 'registration.html' %}

<article>
    <header>
        <h2>О проекте</h2>
    </header>
    Это проект - веб-сервис, где студенты могут искать людей в команды для своих проектов, путем создания объявлений.
</article>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}