{% extends "base.html" %}

{% block title %}
Аккаунт
{% endblock %}

{% block header %}
{% include 'includes/navbar.html' %}
{% endblock %}

{% block page_content %}
{% include 'includes/sidenav.html' %}

{% include 'login.html' %}
{% include 'registration.html' %}

<article class="check-auth-false">

</article>

<article class="check-auth-true">
    <header>
        <h2 id="account-name"></h2>
    </header>
    <h3 id="account-age"></h3>
    <h3 id="account-email"></h3>
</article>
<h1>Статьи</h1>

{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    let create_user_data = (user) => {
        $("#account-name").text(`${user["name"]} ${user["surname"]}`);
        $("#account-age").text(`${Date.now() - user["bornAt"]}`);
        $("#account-email").text(`${user["email"]}`);

        for (const article in user["owned_articles"]) {
            if (Object.hasOwnProperty.call(user["ownder_articles"], article)) {
                const element = user["ownder_articles"][article];
                let content = `
                <article>
                    <header>
                        <h4>${element.title}</h4>
                        <h5>Автор: ${element.author}</h5>
                    </header>
                        ${element.description}
                    <footer><a href="/articles/${element.id}">Посмотреть</a></footer>
                </article>`
            }
        }
    }

    getUser(create_user_data)


</script>

{% endblock %}