{% extends "base.html" %}

{% block title %}
Аккаунт
{% endblock %}

{% block header %}
{% include 'includes/navbar.html' %}
{% endblock %}

{% block page_content %}
{% include 'includes/sidenav.html' %}

{% include 'login.html' %}
{% include 'registration.html' %}

{% if not logged %}
<article>
    <h1>Не авторизован</h1>
</article>
{% else %}
<article>
    <header>
        <h2>{{ username }}</h2>
    </header>
    <h3>Возраст: {{ age }}</h3>
    <h3>Почта: {{ email }}</h3>
</article>
<h1>Статьи</h1>

{% for article in articles %}
<article>
    <header>
        <h4>{{article.title}}</h4>
        <h5>Автор: {{article.author}}</h5>
    </header>
    {{article.description}}
    <footer><a href="{{article.link}}">Посмотреть</a></footer>
</article>
{% endfor %}

{% endif %}
{% endblock %}

{% block scripts%}
{{ super() }}
{% endblock %}