{% extends "base.html" %}

{% block title %}
Просмотр объявления
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
{% include 'includes/navbar.html' %}
{% endblock %}

{% block page_content %}
{% include 'includes/sidenav.html' %}

{% include 'login.html' %}
{% include 'registration.html' %}
<article>
    <h2>{{title}}</h2>

    {{content}}

    <footer>
        <h1>Автор: {{author.name}} {{author.surname}}</h1>
        <h1>Почта: {{author.email}} </h1>
    </footer>
</article>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}