{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
{% include 'includes/navbar.html' %}

{% include 'login.html' %}
{% include 'registration.html' %}

{% for article in articles %}
<article>
    <header>
        <h4>{{article.title}}</h4>
        <h5>Автор: {{article.author}}</h5>
    </header>
    {{article.description}}
    <footer><a href="{{article.link}}">пошел нахуй</a></footer>
</article>
{% endfor %}

{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}